<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/GAMEBOXD-logo.png" alt="GameBoxd">
    </ion-title>
      <ion-buttons slot="primary">
    <ion-button routerLink="/games"> Ver Jogos </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
      <img src="/assets/GAMEBOXD-logo.png" alt="GameBoxd">
    </ion-title>
    </ion-toolbar>
  </ion-header>

    <div id="container">
    <div id="info">
  <strong>Encontre, avalie, descubra...</strong><br>
<p>
  Com o GameBoxd, explore milhares de jogos, registre suas experiências e compartilhe suas opiniões com a comunidade.
</p>
    </div>
<h1>TEAM GINKLE</h1>
<p id="time">Conheça o time de desenvolvedores que tornou essa plataforma possível!</p>
<div id="ion-cards">
  <ion-card>
    <img src="/assets/staff-placeholder.png" alt="staff member">
    <ion-card-title>Kaique Baccas</ion-card-title>
  </ion-card>
   <ion-card>
    <img src="/assets/staff-placeholder.png" alt="staff member">
    <ion-card-title>Kauan Lima</ion-card-title>
  </ion-card>
   <ion-card>
    <img src="/assets/staff-placeholder.png" alt="staff member">
    <ion-card-title>Murillo Freitas</ion-card-title>
  </ion-card>
   <ion-card>
    <img src="/assets/staff-placeholder.png" alt="staff member">
    <ion-card-title>Olavio Santana</ion-card-title>
  </ion-card>
   <ion-card>
    <img src="/assets/staff-placeholder.png" alt="staff member">
    <ion-card-title>Isabela Santos</ion-card-title>
  </ion-card>

</div>

    <ion-card>
      <ion-card-content>
    <p id="api">
      API utilizada: RAWG Video Games Database<br>
      <a href="https://rawg.io/apidocs" target="_blank">https://rawg.io/apidocs</a>
    </p>
  </ion-card-content>
  </ion-card>
</div>
</ion-content>